#keycrop[background="dirt"]{
    background: url(./backgrounds/dirt.png) !important;
    width:100%;
    height:100%;
    position: absolute;
  }
  
#keycrop[background="inventory"]{
    background: url(./backgrounds/inventory.png) !important;
    width:100%;
    height:100%;
    position: absolute;
  }

.btn{
  position: absolute;
  bottom: 0px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}


.plant {
    float: left;
  }

.plant.small{
  width:16px;
  height:16px;
  margin-top: 16px;
}

.plant.medium{
  width:16px;
  height:16px;
  margin-top: 8px;
}

.plant.large{
  width:32px;
  height:32px;
}

.basil.small {
    background: url(./plants/size_16/basil_small.png);
  }

.basil.medium {
    background: url(./plants/size_16/basil_medium.png);
}

.basil.large {
  background: url(./plants/size_32/basil_large.png);
}


.daisy.small {
  background: url(./plants/size_16/daisy_small.png);
}

.daisy.medium {
  background: url(./plants/size_16/daisy_medium.png);
}

.daisy.large {
background: url(./plants/size_32/daisy_large.png);
}
